@charset "utf-8";

.header-info {
  display: block;
  position: relative;
  margin: 10px;
}

.header-info-name {
  font-size: 2em;
  font-weight: bold;
}

.header-info-desc {
  font-size: 0.9em;
}

.header-main-nav {
  margin: 0;
  list-style: none;
}

.header-main-nav-item {
  display: block;
  position: relative;
  line-height: 28px;
  margin: 0;
  font-size: 1.1em;
}
