<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-wrapper">
      <header class="container-header">
        {% include header.html %}
      </header>
      <main class="container-main">
        {{ content }}
      </main>
      <footer class="container-footer">
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>
